@import "./utility";
@import "./Header.scss";
@import "./Login.scss";
@import "./MainPage.scss";
@import "./Mypage.scss";
@import "./Profile.scss";
@import "./DocumentView.scss";
@import "./MiniProfile.scss";
@import "./QuillEditor.scss";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", "Do Hyeon", sans-serif;
}
