@import "./utility";
@import "./Header.scss";
@import "./Login.scss";
@import "./MainPage.scss";
@import "./Mypage.scss";
@import "./Profile.scss";
@import "./DocumentView.scss";
@import "./MiniProfile.scss";
@import "./QuillEditor.scss";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", "Do Hyeon", sans-serif;
  transition: background-color 0.7s;
}
*::-webkit-scrollbar {
  width: 6px; /* 스크롤바 너비 */
}
*::-webkit-scrollbar-thumb {
  background-color: #999; /* 슬라이더(스크롤바 이동 부분) 색상 */
  border-radius: 3px; /* 슬라이더의 모서리 반경 */
}

// 다크모드에 적용되는 스타일
.dark-mode{
  .header{
  &__content{
      background: $primary-color !important;
      &__logo{
        color:$white;
        opacity: 0.8;
      }
      &__nav ul li:not(.dropdownMenu li) a:not(.lgbtn-hide){
        color: $white;
        opacity: 0.8;

      }
      &__nav ul #icon p{
        background-color: transparent;
        opacity: 0.8;

      }
    }
  }
  .MainPage{
    min-height: 100vh;
    background: $primary-color;
    .documentList{
      background-color: #272829;
      &__header{
        color: $secondary-color;
        & button{
          color: $secondary-color;
        }
        & button:hover{
          background-color: #313233;
          color: rgba($white, 0.8);
        }
      }
    }
    .DocumentItem{
      color:rgba($white, 0.8);
      border-top: 1px solid rgba(234, 232, 232, 0.3);
      &:hover{
        background-color: #313233;
        color: $secondary-background-color;
      }
      &__button{
        background-color: #313233;
        color: $secondary-background-color;
      }
    }
  }
  .editor, .reader{
    background-color: $primary-color;
    .document-functions{
      background-color: $primary-color;
      & button{
        color: rgba($white, 0.8);
      &:hover{color: $white;}
      }
    }
    .passInputWrapper{
      background-color: #272829;
      color: rgba($white,0.8);
      .pass-input{
        background-color: #313233;
        .passinput-main .passinput-input{
          background-color: #313233;
          color: $secondary-color;
        }
      }
    }
  }
  .loginPage{
    background-color: $primary-color;
    height: calc(100vh - 70px);
    &__section__login{
      background-color: #272829;
      & .tabGroup {
        .active a{
          color: #a0b3b0;
        }
        li a{
       color: $point-color;
       &:hover{
        color: $point-color-light;
       }
      }
    }
      .templateBlock{
        background-color: #272829;
        .whiteBox{
          background-color: #272829;
          & h1{
            color: $secondary-color;
          }
          & input{
            background-color: #272829;
            color: $secondary-color;
          }
          & button{
            color: rgba($white, 0.8);
          }
          .kakao-login{
            opacity: 0.6;
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  .logined{
    background-color: $primary-color;
    height: calc(100vh - 70px);
    button{
      color: rgba($white, 0.8);
      border: 2px solid rgba($white, 0.8);
      &:hover{
        background-color: #272829;
      }
    }
  }
  color: rgba($white, 0.8);
}

//다크모드 모바일 반응형 
@include mobile{
.dark-mode{
  .header{
    &__content{
      &__nav {
      ul{
      color:$secondary-color;
        svg{
          stroke: $point-color-light;
          fill: $point-color-light;
        }
        .active{
          svg{
            stroke: $secondary-color;
            fill: $secondary-color;
          }
        }
      }
    }
  }
}
  .MainPage{
    height: 100vh;
  }
  .loginPage{
    &__section__login{
      background-color: $primary-color;
      .templateBlock{
        background-color: $primary-color;
        .whiteBox{
          background-color: $primary-color;
          & input{
            background-color: $primary-color;
            border-bottom: 1px solid $secondary-color;
          }
        }
      }
    }
  }
}
}