@import "./utility";
// Title
.DocumentItem {
  text-decoration-line: none;
  color: inherit; /* 링크의 색상 제거 */
  .DocumentItems {
    display: flex;
    align-items: center;
    width: auto;
    height: 43px;
    border-top: 1px solid rgb(234, 232, 232);
    padding-left: 5%;
    color: rgba($primary-color, 0.6);
    font-size: $font-size-s;
    &:hover {
      // background-color: #e2dcc8;
      background-color: $secondary-background-color;
      color: rgba($primary-color, 0.8);
    }
    &:last-child {
      border-radius: 0 0 0.25rem 0.25rem;
    }
    &__icon {
      padding: 0 8px;
      display: flex;
      align-items: center;
    }
    &__id {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
    }
    &__docName {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
