@import "./utility";
// Title
.DocumentItem {
  display: flex;
  width: auto;
  height: 43px;
  padding: 0 5%;
  align-items: center;
  border-top: 1px solid rgb(234, 232, 232);
  color: rgba($primary-color, 0.6);

  &:hover {
    // background-color: #e2dcc8;
    background-color: $secondary-background-color;
    color: rgba($primary-color, 0.8);
  }
  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }
  &__checkbox {
    padding-right: 8px;
  }
  &__container {
    text-decoration-line: none;
    color: inherit; /* 링크의 색상 제거 */
    .DocumentItems {
      display: flex;
      font-size: $font-size-s;
      align-items: center;
      &__icon {
        padding: 0 8px;
        display: flex;
        align-items: center;
      }
      &__id {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
      }
      &__docName {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__button {
    display: none;
    align-items: center;
    margin-left: 5%;
    padding: 3px 6px;
  }
}
.DocumentItem:hover .DocumentItem__button {
  display: flex;
}
@include mobile {
  .DocumentItem {
    &__container {
      .DocumentItems {
        color: rgba($primary-color, 0.8);
        // min-height: 43px;
        height: 70px;
        &__docName {
          font-size: $font-size-m;
        }
        &__docDate {
          display: none;
        }
      }
    }
  }
}
