@import "./utility";
.NewBtndiv {
  width: 2.5rem;
  height: 2.5rem;
}

.DocumentNew {
  border: 3px dashed $point-color-light;
  margin-top: 80px;
  margin-left: 10px;
  margin: 101px 5% 2% 5%;
  padding: 2%;
  &__btnArea {
    display: flex;
    flex-direction: column;
    opacity: 0.6;
    align-items: center;
    &:hover {
      opacity: 1;
    }
  }
}
