@import "./utility";
.document-view {
  z-index: 1;
  padding-top: 70px;
  position: relative;
  // PassInput, ContentBox 공통
  .document-header {
    display: flex;
    justify-content: space-between;
    .document-info {
      display: flex;
      margin-top: 10px;
    }
    .header-button {
      display: flex;
      .edit-page {
        display: flex;
        justify-items: center;
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin: 1.7rem 10px 0 0;
        cursor: pointer;
        .edit-page-text {
          font-size: 1rem;
        }
      }
      .copy-link {
        display: flex;
        justify-items: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 1.7rem 10px 0 0;
        cursor: pointer;
        .copy-link-text {
          font-size: 1rem;
        }
      }
    }
  }
  .document-name {
    font-size: 2.5rem;
    margin-left: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  .document-main {
    dialog {
      box-sizing: border-box;
      margin: 0 auto;
      width: 100vw;
      max-width: 400px;
      padding: 30px;
      border: 0;
      box-shadow: 0px 5px 5px grey;
      border-radius: 0 0 30px 30px;
      text-align: center;
      transition: 1s;
      .info {
        color: #aaaaaa;
        font-size: 12px;
      }
      input {
        max-width: 100px;
        width: 80%;
        text-align: center;
        border-radius: 10px 0 0 10px;
      }
      .input-updatekey {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 1.6rem;
        button {
          font-weight: normal;
          width: 20%;
          border-radius: 0 10px 10px 0;
        }
      }
      form button {
        width: 5rem;
        margin-top: 10px;
      }
      & > * {
        margin: 5px 0;
      }
      &[open] {
        animation: dialog-open 0.5s ease normal;
      }
    }
    .document-functions {
      position: fixed;
      bottom: -9rem;
      display: flex;
      justify-content: center;
      padding: 5px 0;
      box-sizing: border-box;
      width: 100vw;
      height: 12rem;
      z-index: 2;
      background-color: $background-color;
      &.pdf-html {
        z-index: 1;
      }
      .flex-wrap {
        display: flex;
        width: 100vw;
        max-width: 600px;
        border: 1px solid #aaaaaa;
        border-bottom: 0;
        padding-top: 10px;
        button {
          cursor: pointer;
          font-size: 1rem;
          height: 1.5rem;
          line-height: 1.5rem;
          padding: 0 auto;
          z-index: 2;
          width: 33.3%;
          max-width: 200px;
          border: 0;
          background-color: inherit;
          &:active {
            opacity: 0.7;
          }
        }
        button:nth-child(2n):not(:last-child) {
          border-left: 2px solid #aaaaaa;
          border-right: 2px solid #aaaaaa;
        }
        button:last-child:not(:nth-child(2n-1)) {
          border-left: 2px solid #aaaaaa;
        }
      }
      .btnGroup2 {
        display: none;
      }
    }
    .setting-form {
      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        span {
          font-size: 0.8rem;
          color: #aaaaaa;
        }
      }
      .flex-wrap {
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 5px 0;
          input {
            width: auto;
            border-radius: 10px;
          }
        }
        .delete-info {
          color: #aaaaaa;
          font-size: 0.9rem;
          text-align: right;
        }
        .delete-button:active {
          color: red;
        }
        .password-reset {
          padding-top: 10px;
          button {
            width: 90px;
            padding: 0 8px;
            border: 1px solid black;
            border-radius: 5px;
            &:active {
              opacity: 0.7;
            }
          }
        }
        .buttons {
          margin-bottom: -30px;
          button {
            cursor: pointer;
            font-size: 1rem;
            height: 1.5rem;
            line-height: 1.5rem;
            padding: 0 auto;
            z-index: 2;
            width: 5rem;
            width: 33.3%;
            border: 0;
            background-color: inherit;
          }
          button:nth-child(2n):not(:last-child) {
            border-left: 2px solid #aaaaaa;
            border-right: 2px solid #aaaaaa;
          }
          button:last-child:not(:nth-child(2n-1)) {
            border-left: 2px solid #aaaaaa;
          }
        }
      }
    }
  }
  // ContentBox
  .content-main {
    margin: 0 0.5rem;
  }
  .cant-save {
    opacity: 0.5;
  }
  .content-cover {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
  }
  // PassInput
  .passInputWrapper {
    background-color: rgba($primary-color, 0.1);
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    .pass-input {
      text-align: center;
      margin: 0 auto;
      background-color: $secondary-background-color;
      width: 60vh;
      height: 50vh;
      @extend .shadow-lg, .br-20;
      .pass-input__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(50% - 40px);
        margin-top: 40px;
        .passinput-main {
          & > * {
            display: flex;
            flex-direction: column;
          }
          .passinput-input {
            text-align: center;
            margin: 10px auto;
            height: 2rem;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 2px solid $primary-color;
            background-color: $secondary-background-color;

            &:focus {
              outline: none;
              background-color: transparent;
            }
          }
          .passinput-button {
            margin: 0px auto;
            text-decoration: none;
            font-size: $font-size-s;
            letter-spacing: 3px;
            cursor: pointer;
            padding: 6px 30px;
            @extend .br-20;
            background: $black;
            color: whitesmoke;
          }
        }
      }
      .info__container {
        height: 50%;

        .info {
          height: calc(100% - 40px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
          span {
            margin-bottom: 10px;
          }
          a {
            width: fit-content;
            text-decoration: none;
            font-size: $font-size-s;
            letter-spacing: 3px;
            cursor: pointer;
            padding: 6px 30px;
            @extend .br-20;
            background: $black;
            color: whitesmoke;
          }
        }
      }
    }
  }
}

.document-view.reader {
  .document-info {
    display: flex;
    margin-top: 10px;
  }
  .document-name {
    font-size: 2rem;
    margin-left: 1rem;
    height: 2rem;
    line-height: 2rem;
  }
  .copy-link {
    margin: 1.3rem 10px 0 0;
  }
}

.document-view.reader {
  .ql-toolbar {
    z-index: 0;
    height: 0;
    padding: 0;
    * {
      z-index: 0;
      display: none;
    }
  }
}

// animation

@keyframes dialog-open {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}

//모바일 반응형 디자인
@include mobile {
  .document-view {
    padding-top: 20px;
    .document-header {
      padding-bottom: 20px;
      .edit-page {
        margin: 0.7rem 10px 0.1rem 0;
        height: 1.5rem;
        width: 1.5rem;
        .edit-page-text {
          display: none;
        }
      }
      .copy-link {
        margin: 0.7rem 10px 0.1rem 0;
        height: 1.5rem;
        width: 1.5rem;
        .copy-link-text {
          display: none;
        }
      }
    }
    .document-main {
      .document-functions {
        bottom: -3.5rem;
        flex-direction: column;
        align-items: center;
        &.hidden {
          display: none;
        }
        .flex-wrap {
          justify-content: space-evenly;
          text-align: center;
          padding-bottom: 5px;
        }
        .btnGroup2 {
          display: flex;
          width: 100%;
          .docList-button {
            margin: 0;
            width: 50%;
            max-width: none;
          }
          .mypage-button {
            width: 50%;
            max-width: none;
          }
        }
      }
    }
    .passInputWrapper {
      background-color: $secondary-background-color;
      .pass-input {
        background-color: $secondary-background-color;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}
