@import "./utility";

.loginPage {
  @extend.pt-80;
  @extend.d-flex;
  flex-direction: row;
  height: 100%;
  
  &__section {
    &__login {
      width: 100%;
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      height: fit-content;
      @extend .br-4;
      @extend .shadow-lg;
      background-color: $secondary-background-color;
      overflow: hidden;

      .tabGroup {
        list-style-type: none;
        @extend .p-0;
        &::after {
          content: "";
          @extend .d-table;
          clear: both;
        }

        li a {
          box-sizing: border-box;
          @extend .d-block;
          position: relative;
          @extend .text-none;
          padding: 15px;
          margin-bottom: 15px;
          color: #a0b3b0;
          font-size: 20px;
          float: left;
          width: 50%;
          @extend .text-center;
          cursor: pointer;
          transition: 0.5s ease;
          &:hover {
            color: $point-color-light;
          }
        }
        a::after {
          bottom: 0;
          content: "";
          @extend .d-block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: $black;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        a:hover::after {
          width: 80%;
          left: 28px;
        }
        .active a {
          color: $point-color;
          &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            @extend .d-block;
            height: 2px;
            left: 28px;
            position: absolute;
            background: $black;
            transition: width 0.3s ease 0s8 left 0.3s ease 0s;
            width: 80%;
          }
        }
      }
    }
  }
}

// 반응형 미디어 쿼리

@include mobile {
  .loginPage {
    flex-direction: row;
    height: fit-content;
    overflow: hidden;

    &__section {
      &__login {
        width: 100%;
        max-width: 600px;
        margin: 0px auto;
        box-shadow: 0 0px 0px 0px rgba(#13232f, 0.3);
        background-color: $background-color;
        .tabGroup {
          width: 95%;
          li a {
            &:hover {
              color: $black;
            }
          }

          a:hover::after {
            width: 0;
            left: 28px;
          }
          .active a {
            &::after {
              width: 0;
            }
          }
        }
      }
    }
  }
}
