// Login

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #fbfbf8;
}
.templateBlock {
  // position: absolute;
  // margin-top: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  // z-index: -1;
  background-color: #f8f4e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  padding: 1rem;
  width: 360px;
  background: #f8f4e8;
  border-radius: 2px;

  h3 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .styleInput {
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    outline: none;
    width: 100%;
    background-color: #f8f4e8;
  }

  .button {
    background-color: black;
    color: white;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 4px;

    &:hover {
      opacity: 0.8;
    }
  }

  .link {
    margin-top: 2rem;
    text-align: right;

    a {
      color: black;
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
