.mini-profile {
  margin-left: 10px;
  position: relative;
  overflow: visible;
  .main {
    position: relative;
    bottom: 0;
    display: flex;
    height: 2rem;
    line-height: 2rem;
    .image-container {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      overflow: hidden;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    .profile-name {
      color: #777777;
    }
  }
  &:hover .profile-message,
  &:active .profile-message {
    opacity: 0.7;
    transition: 0.5s;
  }
  .profile-message {
    position: absolute;
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    max-height: 36px;
    width: 80px;
    line-height: 12px;
    word-break: break-all;
    white-space: pre-wrap;
    opacity: 0;
    background-color: black;
    color: white;
    left: 2.2rem;
    bottom: 2.2rem;
    transition: 0.5s;
    z-index: 1;
  }
  .gray-scale img {
    filter: grayscale(100%);
  }
}