@import "./utility.scss";
.Mypage {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 40vw;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  padding-top: 3rem;
  overflow: hidden;
  background-color: $point-color;
  -webkit-box-shadow: -15px 0px 10px -15px rgba(57, 63, 72, 0.5);
  -moz-box-shadow: -15px 0px 10px -15px rgba(57, 63, 72, 0.5);
  box-shadow: -15px 0px 10px -15px rgba(57, 63, 72, 0.5);
  border-radius: 25px 0 0 25px;
  z-index: 50;
  transition: transform 0.2s ease-in-out;
  animation: slidein 0.8s forwards;
  color: $secondary-color;
  // Mypage 문구
  h2 {
    text-align: center;
    @extend .mb-20;
  }
  // 닫기 버튼('X'아이콘)
  .closeBtn {
    margin-left: 45px;
    cursor: pointer;
  }
}

// 사이드바 나올 때 애니메이션(오->왼)
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

// 모바일 반응형
@include mobile {
  .Mypage {
    // 애니메이션 X -> 전체 화면
    width: 100%;
    max-width: 100%;
    animation: none;
    border-radius: 0;
    h2 {
      box-shadow: none;
    }
  }
}
