@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./utility";
// :root {
//   --pink1: #ef73cb;
//   --pink2: #dc5f89;
// }
.NotFound {
  // margin-top: 300px;
  align-items: center;
  background-image: linear-gradient(to bottom right, #fbfbf8, #f1ead5);
  color: $white;
  @extend .d-flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  height: 100vh;
  @extend .text-center;
  overflow: hidden;
  position: relative;
  @extend .m-0;
  .container {
    & h1 {
      font-size: 10em;
      margin: 0 0 0.5em;
      line-height: 10px;
      color: $white;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    }

    & p {
      font-size: 1.2em;
      line-height: 26px;
      color: rgb(104, 104, 104);
    }

    & small {
      opacity: 0.7;
      color: gray;
    }

    & a {
      color: #222;
    }

    .circle {
      background-image: linear-gradient(to top right, $background-color, #f1ead5);
      border-radius: 50%;
      position: absolute;
      // z-index: -1;

      &.small {
        top: 200px;
        left: 150px;
        width: 100px;
        height: 100px;
      }

      &.medium {
        background-image: linear-gradient(to bottom left, $background-color, $secondary-background-color);
        bottom: -70px;
        left: 0;
        width: 200px;
        height: 200px;
      }

      &.big {
        top: -100px;
        right: -50px;
        width: 400px;
        height: 400px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .NotFound {
    .container h1 {
      font-size: 8em;
    }

    .container p {
      font-size: 1em;
    }

    footer {
      background-color: #222;
      color: white;
      bottom: 0;
      position: fixed;
      left: 0;
      right: 0;
      letter-spacing: 1px;
      text-align: center;
    }

    footer p {
      font-size: 1em;
      margin: 5px 0;
    }

    footer i {
      color: red;
    }

    footer a {
      color: #3c97bf;
      text-decoration: none;
    }
  }
}
