.profile {
  text-align: center;
  label:first-child {
    width: 100%;
    .image-container {
      margin: 0 20vw;
      width: 60vw;
      height: 60vw;
      border-radius: 30vw;
      overflow: hidden;
      img {
        width: 60vw;
        height: 60vw;
        object-fit: cover;
      }
    }
  }
  form {
    text-align: center;
    padding-top: 70px;
    input {
      height: 2rem;
      width: 80vw;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 3px solid #999999;
      font-size: 0.8rem;
      margin: 0 0 5px 10px;
    }
    .image-input {
      width: 0;
    }
    .info_name {
      text-align: left;
      margin-left: 10vw;
      font-size: 0.8rem;
    }
  }
  button {
    width: 6rem;
    margin: 20px 0 0 0;
  }
  dialog {
    margin: 70px auto 0 auto;
    border-radius: 20px;
    padding: 20px;
    input {
      margin-bottom: 15px;
      border: 0;
      background-color: #eeeeee;
      padding: 4px;
    }
    h3 {
      margin: 20px 0;
    }
    form {
      padding: 0;
      margin-bottom: 20px;
    }
  }
}

.side {
  label:first-child {
    max-width: 500px;
    min-width: 300px;
    width: 40vw;
    display: inline-block;
    .image-container:not(.editableIcon) {
      margin: 0 auto;
      max-width: 255px;
      min-width: 180px;
      max-height: 255px;
      min-height: 180px;
      width: 24vw;
      height: 24vw;
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: 255px;
        min-width: 180px;
        max-height: 255px;
        min-height: 180px;
        width: 24vw;
        height: 24vw;
        object-fit: cover;
      }
    }
  }
  form {
    text-align: center;
    position: relative;
    input {
      height: 2rem;
      width: 80%;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 2px solid $secondary-color;
      font-size: 0.9rem;
      margin: 0 0 5px 10px;
      background-color: transparent;
      color: $white;
      font-weight: 500;
      &:focus {
        background-color: rgba($secondary-color, 0.5);
        color: $primary-color;
        outline: 0;
      }
    }
    .image-input {
      width: 0;
    }
    .info_name {
      text-align: left;
      margin-left: 10%;
      font-size: 0.8rem;
    }
    .editableIcon {
      position: absolute;
      top: 38%;
      right: 10%;
      left: 41%;
    }
  }
  .button_container {
    display: flex;
    justify-content: center;
  }

  button {
    width: 6rem;
    margin: 30px 1vw 0 1vw;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: $font-size-s;
    color: $secondary-color;
    letter-spacing: 0.5px;
    &:hover {
      color: $white;
    }
  }

  .pass-setting {
    dialog {
      margin: auto auto;
      border: none;
      padding: 30px 50px;
      text-align: center;
      border-radius: 1.25rem;
      box-shadow: 0 4px 10px 4px rgba(#13232f, 0.3);
      h2 {
        text-align: center;
        margin: 20px 0;
      }
      .pass-setting-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label {
          display: inline-block;
          text-align: left;
          margin-left: 15px;
          color: rgb(154, 153, 153);
        }
        input {
          width: 93%;
        }
      }
      .button-wrapper {
        margin-bottom: 20px;
        button {
          margin-top: 0;
          padding: 6px 0;
          color: $primary-color;
          &:hover {
            background-color: $black;
            @extend .br-20;
            color: whitesmoke;
          }
        }
      }
    }
  }

  .delete-confirm-modal {
    margin: auto auto;
    border: none;
    padding: 30px 50px;
    text-align: center;
    border-radius: 1.25rem;
    box-shadow: 0 4px 10px 4px rgba(#13232f, 0.3);

    h2 {
      text-align: center;
      margin: 20px 0;
      text-decoration: underline;
    }
    button {
      padding: 6px 0;
      margin-top: 20px;
      margin-bottom: 10px;
      color: $primary-color;
      &:hover {
        background-color: $black;
        @extend .br-20;
        color: whitesmoke;
      }
    }
    span {
      margin: 3px;
    }
    .delete-confirm {
      display: flex;
      align-items: center;
      button {
        margin: 0 10px;
        padding: 6px 0;
        color: $primary-color;
        &:hover {
          background-color: $black;
          @extend .br-20;
          color: whitesmoke;
        }
      }
      input {
        height: 2rem;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px solid $secondary-color;
        font-size: 0.9rem;
        margin: 0 0 5px 10px;
        background: transparent;
        font-weight: 500;
        &:focus {
          background-color: rgba($secondary-color, 0.5);
          color: $primary-color;
          outline: 0;
        }
      }
    }
  }
}

@include mobile {
  .side {
    .pass-setting {
      dialog {
        padding: 50px 20px;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 2px 2px 5px gray;
        margin: 0 auto;
        animation: slidedown 1.3s forwards;
        h2 {
          border: none;
          box-shadow: none;
          text-decoration: underline;
        }
        .pass-setting-wrapper {
          input {
            max-width: 300px;
            border-radius: 0;
            text-align: left;
            padding-left: 10px;
            margin: 0 auto 5px auto;
          }
        }
        .button-wrapper {
          margin-bottom: 20px;
          button {
            margin: 0 15px 0 15px;
            background-color: $black;
            color: whitesmoke;
            border-radius: 1.25rem;
          }
        }
      }
    }
    .delete-confirm-modal {
      margin: 0 auto;
      padding: 50px 20px;
      border-radius: 0px 0px 20px 20px;
      box-shadow: 2px 2px 5px gray;

      button {
        padding: 4px 0;
        margin-top: 30px;
        background-color: $black;
        color: whitesmoke;
        border-radius: 1.25rem;
      }
      .delete-confirm {
        flex-direction: column;
        button {
          margin-top: 30px;
          padding: 3px 0;
          color: gray;
          border: 2px solid lightgray;
          border-radius: 1.25rem;
          font-size: 0.9rem;
          background-color: $background-color;
        }
        input {
          background: transparent;
          text-align: center;
        }
      }
    }
  }
}
@keyframes slidedown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
