.profile {
  text-align: center;
  label:first-child {
    width: 100%;
    .image-container {
      margin: 0 20vw;
      width: 60vw;
      height: 60vw;
      border-radius: 30vw;
      overflow: hidden;
      img {
        width: 60vw;
        height: 60vw;
        object-fit: cover;
      }
    }
  }
  form {
    text-align: center;
    padding-top: 70px;
    input {
      height: 2rem;
      width: 80vw;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 3px solid #999999;
      font-size: 0.8rem;
      margin: 0 0 5px 10px;
    }
    .image-input {
      width: 0;
    }
    .info_name {
      text-align: left;
      margin-left: 10vw;
      font-size: 0.8rem;
    }
  }
  button {
    width: 6rem;
    margin: 20px 0 0 0;
  }
  dialog {
    margin: 70px auto 0 auto;
    border-radius: 20px;
    padding: 20px;
    input{
      margin-bottom: 15px;
      border: 0;
      background-color: #EEEEEE;
      padding: 4px;
    }
    h3 {
      margin: 20px 0;
    }
    form {
      padding: 0;
      margin-bottom: 20px;
    }
  }
  // .pass-setting {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}
