.quill {
  .ql-toolbar {
    height: 5rem;
    padding: 0 !important;
    .ql-formats {
      margin-left: 5vw;
      display: flex;
      height: 2.5rem;
      max-width: 30rem;
      align-items: center;
      justify-content: space-between;
      .ql-picker-options {
        z-index: 3;
      }
      & > span {
        height: 2.5rem;
        span {
          line-height: 2.5rem;
        }
        span::before {
          margin-top: -0.5rem;
        }
      }
      button {
        align-content: center;
      }
      .ql- {
        cursor: default;
      }
    }
  }
  // 텍스트 편집기 하단 경계선 X
  .ql-container.ql-snow {
    border: none;
    .ql-editor {
      width: 100vw;
      min-height: 15rem;
    }
  }

  // 모바일 반응형
 @include mobile{
    .ql-toolbar {
      padding-top: 0;
      .ql-formats {
        margin: 0 3px;
        justify-content: space-between;
        .ql-color {
          padding: 0;
          svg {
            min-width: 18px;
            min-height: 18px;
          }
        }
        .ql- {
          width: 0;
          margin: 0;
          padding: 0;
        }

        & > button {
          margin: 3px;
        }
      }
    }
  .ql-snow{
      .ql-picker.ql-expanded{
          #ql-picker-options-2{
            transform: translateX(-80%);
          }
      }
    }
  }
}
